<html>
	<head>
		<link rel="icon" href="./imagenes/favicon.ico" type="image/x-icon" /> 
		<link rel="shortcut icon" href="./imagenes/favicon.ico" type="image/x-icon" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="robots" content="noindex,nofollow" />
		<title>{$title|default:FEDE}</title>
		<link rel="stylesheet" type="text/css" href="./estilo/layout.css"/> 
		<link rel="stylesheet" href="./estilo/tinydropdown.css" type="text/css" /><!-- Para el Menú -->
		<link rel="stylesheet" type="text/css" href="./estilo/layoutprint.css" media="print"/>
		<script type="text/javascript" src="./js/domtableenhance.js"></script>
		<script type="text/javascript" src="../libreriasphp/FH3/FHTML/overlib/overlib.js"></script>
		<script type="text/javascript" src="./js/tinydropdown.js"></script><!-- Para el Menú -->
		<script type="text/javascript" src="../libreriasjs/sortable/sortable.js"></script>
		<script type="text/javascript" src="./js/livevalidation.js"></script>
	</head> 
	<body background="./imagenes/papel_tapiz.jpg" topmargin="0" leftmargin="0">
		{if $fondoreporte eq '1'}
		<div id="fondoreporte">
		{else}
		<div id="fondo">
		{/if}
		<div id="cintillo"><img src="./imagenes/cintillo.jpg" width="1050" height="70"/></div>
		<div id="banner"><img src="./imagenes/banner1.jpg" width="1050" height="150"/></div>
		<div id="titulo">APLICACIÓN WEB PARA LA GESTION DE PROCESOS ADMINISTRATIVOS FEDE{if $smarty.session.usuario} Usuario: {$smarty.session.usuario.nombre} {$smarty.session.usuario.apellido}{/if}</div><!-- titulo -->				
		<div id="menu">
			{if $smarty.session.usuario}<ul id="mimenu" class="mimenu">
				<li title="Inicio"><a href="consmod_plantel.php">Inicio</a></li>
				<li><span>Registrar</span>
				<ul>
					<li title="Registrar Plantel"><a href="registrar_plantel.php">Plantel</a></li>
					<li><span>Empresas</span>
						<ul>
							<li title="Agregar Empresa"><a href="registrar_empresa.php">Agregar</a></li>
							<li title="Consultar / Modificar Empresa"><a href="consmod_empresa.php">Consultar / Modificar</a></li>
						</ul>
					</li>
					<li><span>Inspectores </span>
						<ul>
							<li title="Agregar Personal"><a href="registrar_contratos_personal.php">Agregar</a></li>
							<li title="Consultar / Modificar Personal"><a href="consmod_personal_inspector.php">Consultar / Modificar</a></li>
						</ul>
					</li>
					<li><span>Consejo Comunal</span>
					<ul>
						<li title="Agregar Consejo Comunal"><a href="registrar_consejo.php">Agregar</a></li>
						<li title="Consultar / Modificar Consejo Comunal"><a href="consmod_consejo.php">Consultar / Modificar</a></li>
					</ul>
				</li>
				</ul>
				</li>
				<li><span>Admin BD</span>
					<ul>
						<li title="Servicios"><a href="servicios.php">Servicios</a></li>
						<li title="Nivel Educativo"><a href="nivel_educativo.php">Nivel Educativo</a></li>
						<li title="Municipios"><a href="municipios.php">Municipios</a></li>	
						<li title="Parroquias"><a href="parroquias.php">Parroquias</a></li>
						<li title="Niveles de Acceso"><a href="niveles.php">Niveles de Acceso</a></li>
						<li title="Privilegios"><a href="privilegios.php">Privilegios</a></li>
					</ul>
				</li>
				<li><span>Reportes</span>
					<ul>
						<li title="Avance de Obras"><a href="rp_frm_contratos_status.php">Avance de Obras</a></li>
						<li title="Dotaciones"><a href="rp_frm_dotacionesxfecha.php">Dotaciones</a></li>
						<li title="Evaluaciones"><a href="rp_frm_evaluacionesxfecha.php">Evaluaciones</a></li>	
					</ul>
				</li>
				<li><span>Personal</span>
					<ul>
						<li title="Agregar Usuarios"><a href="registrar_personal.php">Agregar</a></li>
						<li title="Consultar / Modificar Usuarios"><a href="consmod_personal.php">Consultar / Modificar</a></li>
						<li title="Cambiar Clave"><a href="cambiar_clave.php">Cambiar Clave</a></li>
						<li class="topfirst"><a href="manual.pdf">Ayuda</a></li>
					</ul>
				</li>
				<li class="topfirst"><a href="index.php">Salir</a></li>
			{/if}
		</div><!-- menudiv -->	
		{literal}
			<script type="text/javascript">
				var dropdown=new TINY.dropdown.init("dropdown", {id:'mimenu', active:'menuhover'});
			</script>
		{/literal}			
		<div id="contenido">