{include file="cabecera.html" title="Registrar Consejo Comunal"}
{if $smarty.session.mensaje}
</p>
<div id="mensaje">{$smarty.session.mensaje}</div>
{/if}
{$f1}
{include file="pie.html"}
{literal}
<script>
	var f1 = new LiveValidation('nombre'); f1.add( Validate.Presence ); f1.add( Validate.Length, { minimum: 8 } );
	var f2 = new LiveValidation('vocero'); f2.add( Validate.Presence ); 
	var f3 = new LiveValidation('cargo'); f3.add( Validate.Presence ); 
	var f4 = new LiveValidation('correo'); f4.add( Validate.Email );
	var f5 = new LiveValidation('telf'); f5.add( Validate.Length, { minimum: 7 } );
</script>
{/literal}