{include file="cabecera.html"}
<div id="resultados_reporte">
<h3>DOTACIONES POR FECHA DE SOLICITUD DESDE: {$fecha_ini}, HASTA: {$fecha_fin}</h3>
<p>
<div id = "indice">REPORTE DE DOTACIONES POR FECHA DE SOLICITUD</br>Fecha Inicial: {$fecha_ini}</br>Fecha Final: {$fecha_fin}</br></div>
</p>
{if $datos}
<div id="resultados">
<table class="enhancedtable" cellspacing="0" cellpadding = "3" border="1" align="center" width="100%">
<thead>
	<tr> 
		<th>ID</th>
		<th>Codigo Dotacion</th>
		<th>Cod DEA</th>
		<th>Nombre del Plantel</th>
		<th>Fecha</th>
		<th>Fecha Dotacion</th>
		<th>Nro de Memo</th>
		<th>Gerencia</th>
</thead>
<tbody>
	{section name=p loop=$datos}
	<tr>
		<td><a href="ficha_dotacion.php?id={$datos[p].id}">{$datos[p].id}</a></td>
		<td>{$datos[p].cod_dotacion}</td>
		<td>{$datos[p].codigo_dea}</td>
		<td>{$datos[p].plantel_nombre}</td>
		<td>{$datos[p].fecha}</td>
		{if $datos[p].fecha_dotacion eq '00-00-0000'}
			<th>&nbsp;</th>
		{else}
			<td>{$datos[p].fecha_dotacion}</td>
		{/if}
		<td>{$datos[p].nro_memo}</td>
		<td>{$datos[p].gerencia}</td>
	</tr>{/section}
</tbody>
</table>
</div>
<p>
<input type="image" name="imprimir" src="imagenes/imprimir.gif" width="75" height="50" onclick="window.print();">
{else}
	<h3>NO SE ENCONTRÓ NINGUN DATO QUE CORRESPONDA, VERIFIQUE...</h3>
{/if}
{include file="pie.html"}